/* style.css */
@charset "UTF-8";

/*================================= 
  共通
================================= */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  min-height: 100vh;
}

.noto-sans-jp-thin {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.noto-sans-jp-semibold {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.noto-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nav-bottom-button {
  display: none; /* 最初は非表示にする */
}

.text-orange {
  color: #ff8000;
}
.text-green {
  color: #2fc996;
}
.text-mostgreen {
  color: #183834;
}
.text-moregreen {
  color: #30554c;
}
.text-thinblack {
  color: #191919;
}

/*================================= 
  hero
================================= */

.sectionHero {
  background-image: url("../image/bgimg_hero_pc.jpg");
  width: 100%;
  height: 964px;
  background-size: cover;
  background-position: right bottom;
  overflow: hidden;
}
/* titleタグ */
/* title_03　about50pxFont */
.title-big {
  font-size: 2.8rem;
  font-weight: 500;
}
.sectionHero .title-big::after {
  content: "";
  display: block;
  border-top: 1.5px solid #2fc996;
  width: calc(740px);
  margin-left: -5rem;
  margin-top: 10px;
}
.a-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 9999px;
  transition: box-shadow 0.5s ease;
}
.a-shadow:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transform: translate(3px);
}
.aside-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px 0px 0px 8px;
  transition: box-shadow 0.5s ease;
}
.aside-shadow:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transform: translate(3px);
}

/*================================= 
  nav
================================= */
.side-nav {
  position: fixed;
  top: 120px;
  right: 0;
}

/*================================= 
  explain
================================= */
.sectionExplain {
  width: 100%;
  height: auto;
  background-color: white;
}

/*================================= 
  reason
================================= */
.sectionReason2 {
  width: 100%;
  background-image: url("../image/bgimg_reason_0102.jpg");
  height: 1300px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.sectionReason {
  width: 100%;
  background-image: url("../image/bgimg_reason_01.jpg");
  height: 1300px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.sectionReasonTitle::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background: white;
  position: absolute;
  left: calc(50% - (10% / 2));
  margin-top: 10px;
}

.reason031 {
  width: calc(1144px * 0.9);
  background-image: url("../image/bgimg_reason_031.png");
  height: calc(221px * 0.9);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.reason032 {
  width: calc(1144px * 0.9);
  background-image: url("../image/bgimg_reason_032.png");
  height: calc(221px * 0.9);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.reason033 {
  width: calc(1144px * 0.9);
  background-image: url("../image/bgimg_reason_033.png");
  height: calc(221px * 0.9);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
/*================================= 
  fivefunction
================================= */
.sectionFivefunction {
  width: 100%;
  height: auto;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: row;
}
.container-tight {
  width: 370px;
  background-color: #232323;
}
.container-wide {
  flex: 700px;
  background-color: #ffffff;
}
/*================================= 
  example
================================= */
.sectionExample {
  width: 100%;
  height: 1300px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.sectionExampleTitle::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background: white;
  position: absolute;
  left: calc(50% - (10% / 2));
  margin-top: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
}
